<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="card-title"> Forbidden </h4>
                                <p class="card-category">You received a Forbidden (403) code - You're don't have
                                    Authorization to Access this Resource.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        Please contact the System Admin if you want to access this Resource.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>