<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <br>
                <div class="row">
                    <div class="col-md-7">
                        <legend>Select a Device</legend>
                        <app-equipment-list #list [userId]="userId"></app-equipment-list>
                    </div>
                    <div class="col-md-5">
                        <legend>Details of Device</legend>
                        <app-equipment-cu #cu [listData]="list.equipmentDetail"></app-equipment-cu>
                    </div>
                </div>
                <br>
                <br>

                <br>
                <br>

                <br>
                <br>

            </div>
        </div>
        <!-- end card -->
    </div>
</div>