<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">

  <mat-tab-group>
    <mat-tab label="Name and Adress">
      <mat-grid-list cols="2" rowHeight="360px">

        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden" formControlName="Id">

            <mat-form-field>
              <input formControlName="FirstName" matInput placeholder="Name*">
              <mat-error>Please insert the name.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="LastName" matInput placeholder="Last Name*">
              <mat-error>Please insert the lastname.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="EmailAddress" matInput placeholder="Email*">
              <mat-error>Please insert the email address.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="AditionalInfo" matInput placeholder="Info Adic.">
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="controles-container">

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input formControlName="UserName" matInput placeholder="UserName*">
                  <mat-error>Please inform your username.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" formControlName="Password" placeholder="Password*" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" formControlName="ConfirmPassword" placeholder="Confirm*" class="form-control">
                </div>
              </div>
            </div>

            <div class="form-group">

              <label class="col text-danger"
                *ngIf="service.form.controls['ConfirmPassword'].hasError('NoPassswordMatch')"><i class="material-icons">
                  {{ service.form.controls['Password'].hasError('required') ||
                    service.form.controls['Password'].hasError('minlength') ? 'cancel' :
                    'check_circle' }}</i>
                Passwords doesn`t match.</label>

              <label class="col"
                [ngClass]="service.form.controls['Password'].hasError('required') || service.form.controls['Password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ service.form.controls['Password'].hasError('required') ||
                      service.form.controls['Password'].hasError('minlength') ? 'cancel' :
                      'check_circle' }}</i>
                Password should be higher than 8.
              </label>

              <label class="col"
                [ngClass]="service.form.controls['Password'].hasError('required') || service.form.controls['Password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ service.form.controls['Password'].hasError('required') ||
                      service.form.controls['Password'].hasError('hasNumber') ? 'cancel' :
                      'check_circle' }}</i>
                Password should contains at least 1 number.
              </label>
              <label class="col"
                [ngClass]="service.form.controls['Password'].hasError('required') || service.form.controls['Password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ service.form.controls['Password'].hasError('required') ||
                      service.form.controls['Password'].hasError('hasCapitalCase') ? 'cancel' :
                      'check_circle' }}</i>
                Password should contains at least 1 Upper Letter.
              </label>
              <label class="col"
                [ngClass]="service.form.controls['Password'].hasError('required') || service.form.controls['Password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ service.form.controls['Password'].hasError('required') ||
                      service.form.controls['Password'].hasError('hasSmallCase') ? 'cancel' :
                      'check_circle' }}</i>
                Password should contains at least 1 Lower Letter
              </label>
              <label class="col"
                [ngClass]="service.form.controls['Password'].hasError('required') || service.form.controls['Password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ service.form.controls['Password'].hasError('required') ||
                      service.form.controls['Password'].hasError('hasSpecialCharacters') ? 'cancel' :
                      'check_circle' }}</i>
                Password should contains at least 1 Special Character @#!$%
              </label>

            </div>


          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-tab>

    <mat-tab label="Documents and Contacts">
      <mat-grid-list cols="2" rowHeight="360px">

        <mat-grid-tile>
          <div class="controles-container">

            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="CountryRegistryNumber" matInput placeholder="Country Registry Number">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="StateRegistryNumber" matInput placeholder="State Registry Number">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="PhoneNumber1" mask="(00)0000-0000" matInput placeholder="Phone 1*">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="PhoneNumber2" mask="(00)0000-0000" matInput placeholder="Phone 2">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="MobilePhoneNumber1" mask="(00)00000-0000" matInput
                    placeholder="MobilePhone 1*">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="MobilePhoneNumber2" mask="(00)00000-0000" matInput
                    placeholder="MobilePhone 2">
                </mat-form-field>
              </div>
            </div>

          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="controles-container">

            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="Street" matInput placeholder="Street*">
                  <mat-error>Please insert your street.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input formControlName="StreetNumber" matInput placeholder="Number*">
                  <mat-error>Please insert your street number.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input formControlName="ZipCode" mask="0000" matInput placeholder="ZipCode">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <mat-form-field>
                  <input formControlName="NeighborHood" matInput placeholder="NeighborHood*">
                  <mat-error>Please insert your neighboorhood.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input formControlName="City" matInput placeholder="City*">
                  <mat-error>Please insert your city.</mat-error>
                </mat-form-field>
              </div>
            </div>

          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-tab>


  </mat-tab-group>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit"
      [disabled]="service.form.invalid">{{service.form.controls['Id'].value?"Update User":"Create User"}}</button>
    <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
  </div>
</form>