<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
          <li>
              <a href="https://bmbtecnologia.com.br/">
                BMB
              </a>
            </li> 
        <li>
          <a href="http://www.futuradata.com.br/">
            FuturaData
          </a>
        </li>               
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, feito por BMB & FuturaData uma nova visão de tecnologia.
    </div>
  </div>
</footer>
