<div class="card">
    <div class="card-body table-full-width" *ngIf="equipmentDetail">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr class="table-success">
                        <td>Android Id: {{equipmentDetail.AndroidId}}</td>
                    </tr>
                    <tr class="table-info">
                        <td>Equipment Id: {{equipmentDetail.Id}}</td>
                    </tr>

                    <tr class="table-success">
                        <td>Imei1: {{equipmentDetail.Imei1}}</td>
                    </tr>
                    <tr class="table-info">
                        <td>Imei2: {{equipmentDetail.Imei2}}</td>
                    </tr>

                    <tr class="table-success">
                        <td>PhoneNumber: {{equipmentDetail.PhoneNumber}}</td>
                    </tr>
                    <tr class="table-info">
                        <td>MacAddress: {{equipmentDetail.MacAddress}}</td>
                    </tr>

                    <tr class="table-success">
                        <td>Android Version: {{equipmentDetail.ApiLevelDesc}}</td>
                    </tr>
                    <tr class="table-info">
                        <td>Serial Number: {{equipmentDetail.SerialNumber}}</td>
                    </tr>

                    <tr class="table-success">
                        <td>Manufacturer Model: {{equipmentDetail.DeviceModel}}</td>
                    </tr>
                    <tr class="table-info">
                        <td>Owner: {{equipmentDetail.User}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>