<div class="card">
  <div class="card-body">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" />
      <button mat-button matSuffix mat-icon-button aria-label="Clean" *ngIf="searchKey"
        (click)="onSearchClear()"></button>
    </mat-form-field>
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="DeviceModel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DeviceModel</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.DeviceModel }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ApiLevelDesc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Version</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.ApiLevelDesc }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SerialNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.SerialNumber }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="loadEquipmentDetails(row)">
            <mat-icon>assessment</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Please Wait, loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No Data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ hide: listData != null }">
      </mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']"
        [ngClass]="{ hide: !(listData != null && listData.data.length == 0) }"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="8" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>