<div class="wrapper wrapper-full-page">
  <div class="page-header register-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Register</h2>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <div class="info info-horizontal">
                    <div class="icon icon-rose">
                      <i class="material-icons">timeline</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Graphics</h4>
                      <p class="description">
                        Pre-Setted and Configured Graphics on the DashBoard
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-primary">
                      <i class="material-icons">code</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Nice Patterns</h4>
                      <p class="description">
                        C# BackEnd with Rich Architecture (DDD, SOLID, CQRS, Services and Repositories, ApiRest,
                        Validation by Contracts and more). Rich Angular UI Material Panel with HttpInterceptor,
                        AuthInterceptor, Capable to Deal with JWT and claims, Shared Service. React Native
                        MobileApp to also Login and Register.
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-info">
                      <i class="material-icons">group</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Colaborative on GitHub</h4>
                      <p class="description">
                        100% Full OpenSource on GitHub - Join me and help to grow the project. <a
                          href="https://github.com/fernandopassaia/app_fullstackdemo" target="_blank">Link Here
                          Folks.</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 mr-auto">
                  <div class="social text-center">
                    <button mat-raised-button class="btn btn-just-icon btn-round btn-twitter">
                      <i class="fa fa-twitter"></i>
                    </button>
                    <button mat-raised-button class="btn btn-just-icon btn-round btn-dribbble">
                      <i class="fa fa-dribbble"></i>
                    </button>
                    <button mat-raised-button class="btn btn-just-icon btn-round btn-facebook">
                      <i class="fa fa-facebook"> </i>
                    </button>
                    <h4 class="mt-3"> or be classical </h4>
                  </div>
                  <form [formGroup]="service.form" class="form" (submit)="onSubmit()">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" formControlName="FirstName" class="form-control" placeholder="FirstName...">
                      </div>
                    </div>
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" formControlName="LastName" class="form-control" placeholder="LastName...">
                      </div>
                    </div>
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input type="email" formControlName="EmailAddress" class="form-control" placeholder="Email...">
                      </div>
                    </div>
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" formControlName="Password" class="form-control"
                          placeholder="Password...">
                      </div>
                    </div>
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" formControlName="ConfirmPassword" class="form-control"
                          placeholder="Confirm Password...">
                      </div>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked="">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                        I agree to the
                        <a href="#something">terms and conditions</a>.
                      </label>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-primary btn-round mt-4" type="submit" [disabled]="service.form.invalid">Get
                        Started</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left"></nav>
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
          <a href="https://github.com/fernandopassaia/app_fullstackdemo" target="_blank">Fernando Passaia</a> Free
          Source on GitHub.
        </div>
      </div>
    </footer>
  </div>
</div>