<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-lg-11">
                <h4 class="card-title"> Device Models </h4>
                <p class="card-category"> Model of Equipments
                </p>
              </div>
              <div class="col-lg-1">
                <button mat-icon-button aria-label="Add" (click)="onCreate()">
                  <mat-icon>person_add</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <mat-form-field class="search-form-field" floatLabel="never">
              <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clean" *ngIf="searchKey"
                (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="listData" matSort>

                <ng-container matColumnDef="Description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Model Device</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.Description}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Manufacturer">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.Manufacturer}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                      <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(row.Id)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data, please wait...
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                  [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
              </mat-table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="8" showFirstLastButtons></mat-paginator>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>